
a {
  color: orange;

  // visited : 訪問したものが対象
  &:visited {
    color: blue;
  }

  &:hover{
    color: red;
  }
  // フォーカスされているものが対象
  &:focus {
    color: green;
  }
  // クリックしている状態のものが対象
  &:active {
    color: purple;
  }
}


div {
  & span {
    color: olive;

    &:not(.cls) {
      color: purple;
    }
  }
}
