$cBlack: black;

body {
    text-align: center;
}

.rect {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: $cBlack;
    animation: sk-bouncedelay 1.4s;
    animation-timing-function: ease;
    // アニメーションの開始時間
    animation-delay: 1s;
    // アニメーションの反復回数
    animation-iteration-count: infinite;
    // アニメーションの開始方向
    animation-direction: alternate-reverse;
    // アニメーション再生中・再生後のスタイルの指定
    // animation-fill-mode: both;

}
.paused {
    animation-play-state: paused;
}

@keyframes sk-bouncedelay {
    from {
        transform: scale(0);
        background-color: black;
    }

    to {
        transform: scale(1);
        background-color: green;
    }
}
